<div>
    <p>{{ greeting1 }}</p>
    <p>{{ greeting2 }}</p>
</div>
<div>
    <button class="btn btn-success" ng-click="setGreeting1('A new greeting')">Change First Greeting</button>
    <button class="btn btn-success" ng-click="setGreeting2('Other new greeting')">Change Second Greeting</button>
</div>

<div>
    <my-name name="Joe" age="age"></my-name>
    <div my-button msg="This is My Button!" action="myAction()"></div>
</div>
<br/>
<p>Click <a href="/#!/newpage">here</a> to go to the new page.</p>
